@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
} 
header.sticky
{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header .Logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}
header.sticky .Logo,
header.sticky ul li a
{
    color: #000;
}
.toggle
{
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.toggle:before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.toggle:after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(../assets/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active
{
    transform: translateX(-400px);
}
.sec
{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec .content2
{
    position: relative;
    text-align: center;
    width: 100%;
}
.mxw800p
{
    max-width: 800px;
    margin: 0 auto;
}
h3
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
p
{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}
.services
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
.services .box
{
    width:300px;
    margin:0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx
{
    margin-top: 25px;
}
.services .box .iconBx img
{
    max-width: 70px;
    margin-bottom: 15px;
}
.services .box h2
{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.stats
{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3,
.stats p
{
    color: #fff;
}
.statsBox
{
    position: relative;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;    
}
.statsBox h2
{
    color: #fff;
    font-size: 36px;
}
.statsBox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px ;
}
.workBx
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}
.workBx .brand
{
    position: relative;
    background:#4978ff;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workBx .brand:hover
{
    background: #000;
}
.workBx .brand a
{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.workBx .brand:hover a
{
    color: rgba(255,255,255,1);    
}
.contact
{
    background: #000;
}
.contact h3,
.contact p
{
    color: #fff;
}
.contactForm
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.contactForm form
{
    width: 100%;
}
.contactForm .row100
{
    display: flex;
    width: 100%;
}
.contactForm .row100 .inputBx50
{
    width: 50%;
    margin: 0 20px;
}
.contactForm .row100 .inputBx100
{
     width: 100%;
     margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea
{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none
}
.contactForm .row100 textarea
{
    height: 100px;
}
.contactForm .row100 input,::placeholder
.contactForm .row100 textarea::placeholder
{
    color: rgba(255, 255, 255, 0.5);
}
.contactForm .row100 input[type="submit"]
{
    background: #fff;
    color: #000;
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}
.sci2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci2 ul 
{
    display: flex;
}
.sci2 ul li 
{
    list-style: none;
}
.sci2 ul li a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci2 ul li a img
{
    filter: invert(1);
    max-width: 40px;
}
.sci2 ul li a:hover img
{
    opacity: 0.5;
}

/*
.banner.active header #toggle:before
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle:after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
#navigation
{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0;
}
#navigation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li
{
    list-style: none;
}
#navigation ul li a
{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}*/
.content
{
    max-width: 600px;
}
.content h2
{
    color:#fff;
    font-size: 2.5em;
}
.content h2 spam
{
    color: #40c3ff;
    font-size: 1.2em;
}
.content p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
.content a
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.sci
{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}
.sci li a:hover
{
    background: #fff;
}
.sci li a img
{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}

@media(max-width: 820px)
{
    header{
    padding: 20px 50px;
    }  
    .banner{
        padding: 100px 50px 150px;
    }  
    .banner h2{
        font-size: 1.8em;
    }
    .banner .content p,.content a{
        font-size: 1em;
    }
    .sci{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 10px;
    }
    header.active .toggle:after
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }   
    header.active .toggle:before
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }  
}
@media(max-width: 992px)
{
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before
    {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after
    {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }   
    header,
    header.sticky
    {
        padding: 5px 50px ;
        background: #fff;
    }
    header ul
    {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }    
    header.active .toggle:after
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }   
    header.active .toggle:before
    {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
        box-shadow: 0 10px 0 #fff;
    }       
    header.active ul{
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top:20px ;
    }

    header.active ul li a{
        display: inline-block;
        margin: 5px 0;
        font-size: 20px;
    }

    header .Logo,
    header ul li a
    {
        color: #000;
    }
    .banner
    {
        background-position: center;
    }
    .sec
    {
        padding: 100px 50px 50px 50px;
    }
    .services .box
    {
        width: 100%;
    }
    .stats
    {
        padding-top:250px;
    }
    .row100
    {
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width:100%;
        margin: 0;
    }
    .sci2{
        margin: 20px;
    }
    .sci ul li a img{
        font-size:24px;
    }
    h3
    {
        font-size:36px;
    }
}    