    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column right">
                    <div class="text">
                        I'm a <span class="typing-2"></span> <br />
                    </div>
                    <p>
                        Knowlodge is power! I'm trying to be above the
                        average. <br /> <br />

                    </p>
                    <a target="_blank" focus-row-control="" focus-type="url" href="https://doc-0k-98-docs.googleusercontent.com/docs/securesc/2d94vd23f6ofo6sglqflndc3rcot8ss3/kf32ed5p2ah9tl3vrn0rbutsdke8ro3g/1612113150000/04177250956284240702/04177250956284240702/1eZOFq8yUbl24OlylXS0tiA2c5td7xFCI?e=download&authuser=1&nonce=uvg514d2sj2h6&user=04177250956284240702&hash=9gjlc6fnak2kkdsfqslh371nkfh74mjo" tabindex="0">Download CV</a>

                </div>
            </div>
        </div>
    </section>