    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column right">
                    <div class="text">
                        I'm a <span class="typing-2"></span> <br />
                    </div>
                    <p>
                        Knowlodge is power! I'm trying to be above the
                        average. <br /> <br />

                    </p>
                    <a target="_blank" focus-row-control="" focus-type="url" href="https://drive.google.com/file/d/1eZOFq8yUbl24OlylXS0tiA2c5td7xFCI/view?usp=sharing" tabindex="0">Download CV</a>

                </div>
            </div>
        </div>
    </section>