    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column right">
                    <div class="text">
                        I'm a <span class="typing-2"></span> <br />
                    </div>
                    <p>
                        Knowlodge is power! I'm trying to be above the
                        average. <br /> <br />

                    </p>
                    <a target="_blank" focus-row-control="" focus-type="url" href="https://www.linkedin.com/ambry/?x-li-ambry-ep=AQHJJax4vvT9bQAAAXdPzpWNQwNIAmLzE1tyJfgsL0KIwprzv1W038Ks6Jg3qm-czysBJQi-22ORNL9wld5YmstDKjTol6RbtVjyRTYOHPzo_WprG43fOKyJl7RDkFKdDmQ0Rd5M34bWyK_uEAxiHJOnM-rYW21Hm9MF8xyAF7Wa0S-_UX1nitUCpNkctVgPWpMZrHTrmM5n3gV32JkUcmMn5PM7_LDZ9mUytbj4w2rObHdDMYB9jz2M7-Wty8hH5jGFlNjyMDjgwe3s_ZsPVUR5Z9nqCm9_ycxxai5MVXWwNNvmptlVHKrq-3arzDeuDK81QdWShwceFxXX4WlIuHIDjgE3kk46b88r8VkZaQ7P7R16CKVTErXfdfKqX6lgZ7DtRLTt0NgSnIZMa6xeVoi1r_xSSGw5jLvNg9633enBfmjiJXy0aWrWmE1GLfdrXi3KbwngA8gc760y3e5mEyOyrt6X6ztLkJ5_4dBwhgb6l5cghb8Q-HFaFnGTdY2GXSWBw1JBCZXV6DgvQWof8w&amp;x-ambry-um-filename=Profile.pdf" tabindex="0">Download CV</a>

                </div>
            </div>
        </div>
    </section>