 <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Services</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">Experience</div>
                        <p>I have experience in website development and development of automation bots in python with artificial intelligence for several clients.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Studying</div>
                        <p>
                            Back-end: Java, Python and JS.<br />
                            Front-end: Angular, JS and React.<br />
                            Databases: PostgreSQL, MySQL, SQLite.<br />
                            Tests: Selenium, Cypress<br/>
                            IA: Scikit-learn, Pandas
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="far fa-edit"></i>
                        <div class="text">Design</div>
                        <p>Working with Figma and Corel Draw, the CorelDraw is nothing more than a graphic design program that was developed by the Canadian Corel Corporation</p>
                    </div>
                </div>
            </div>
        </div>
    </section>