    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">Skills & Experiences</div>
                    <p>My favorite languages are Java, JS and Python.</p>
                    <a href="https://github.com/matheusosp/" target="_blank">Read more</a>
                </div>
                <div class="column right">
                    <div class="info">
                        <dl>
                            <dt><strong>Languages I have had any experience:</strong></dt>
                            <dd>Python</dd>
                            <dd>PHP</dd>
                            <dd>JAVA</dd>
                            <dt>JavaScript, TypeScript, NodeJS</dt>
                            <dd>Delphi</dd>
                            <dd>C++</dd>
                            <dd>Pascal</dd>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </dl>
                        <dl>
                            <dt><strong>FRAMEWORKS:</strong></dt>
                            <dd>Django</dd>
                            <dd>Django REST</dd>
                            <dd>Selenium</dd>
                            <dd>Pandas</dd>
                            <dt>PySimpleGUI</dt>
                            <dd>scikit-learn</dd>
                            <dd>Ecosystem Spring</dd>
                            <dd>Bootstrap</dd>
                            <dd>React</dd>
                            <dd>Angular</dd>
                            <dd>Express</dd>
                            <dd>Cypress</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </section>