/* about section styling */
.about .title::after {
    content: "who i am";
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}

.about .about-content .right span {
    color: #00BFFF;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #00BFFF;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00BFFF;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: #00BFFF;
    background: none;
}