/* home section styling */
.home {
    display: flex;
    background: url("../assets/img/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #00BFFF;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background: #00BFFF;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00BFFF;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #00BFFF;
    background: none;
}
.sci
{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
    margin-top: -250px;
}
.sci li{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}
.sci li a:hover
{
    background: #fff;
}
.sci li a img
{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}